.article {
  background-color: #f3f6f7;
  width: 30vw;
  margin: auto;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;

  /* display: flex;
    flex-direction: column; */
}

.title {
  text-align: left;
}

.subTitle {
  text-align: left;
}

.content {
  text-align: left;
  color: black;
}
