.article {
  background-color: #f3f6f7;
  min-width: 20%;
  border-radius: 5px;
  padding: 15px;
}

.title {
  text-align: left;
  white-space: pre-line;
}

.subTitle {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: pre-line;
}

.content {
  text-align: left;
  color: black;
  white-space: pre-line;
}
