.article {
  background-color: #f3f6f7;
  min-width: 20%;
  border-radius: 5px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  transition: 0.5s;
  min-height: fit-content;
}

.dropdown {
  /* use for reference */
  height: fit-content;
}

.dropdown-primary-enter {
}

.dropdown-primary-enter-active {
}

.dropdown-primary-exit {
}

.dropdown-primary-exit-active {
}

.flexBox1 {
  display: flex;
  justify-content: space-between;
}

.contentButtonContainer {
  display: flex;
  align-items: center;
}

.contentButton {
  height: 40px;
  width: 40px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
}

.contentButton:hover {
  background-color: grey;
  border-radius: 15px;
}

.contentButtonUp {
  width: 25px;
  height: 25px;
  transition: 0.5s ease-in;
}

.contentButtonDown {
  width: 25px;
  height: 25px;
  transition: 0.5s ease-in;
  transform: rotate(180deg);
}

.title {
  text-align: left;
  white-space: pre-line;
  font-size: 23px;
}

.subTitle {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: pre-line;
}

.content {
  text-align: left;
  color: black;
  white-space: pre-line;
  font-size: 15px;
}

.linkBox {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
}
