.homeTitle {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
}

.homeContent {
  height: fit-content;
  padding-right: 15px;
  padding-left: 15px;
}

.homeBox1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homeBox1Left {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.homeBox1Right {
  flex-grow: 1;
  width: 50%;
  padding: 15px;
}

.homePicture {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  align-self: center;
}

.homeHeaderContainer {
  width: 100%;
  background-color: #dae3e7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.homeHeader {
  background-color: #282c34;
  border-radius: 5px;
  padding: 10px;
}

.homeHeaderText {
  color: white;
  text-align: left;
}

.homeArticleWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.homeInlineText {
  display: inline;
  white-space: pre-line;
}

a {
  color: #70f8ff;
}
