.headerBanner {
  background-color: #282c34;
  width: 100vw;
  min-width: 400px;
  padding: 0.05em;
}

.headerContainer {
  width: 50vw;
  margin: auto;
  min-width: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leftContainer {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.rightContainer {
  flex-grow: 1;
  flex-shrink: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}
