.headerBanner {
  background-color: #282c34;
  width: 100vw;
  min-width: 400px;
}

.headerContainer {
  width: 50vw;
  margin: auto;
  min-width: 400px;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.leftContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}

.rightContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}
